#root {
  max-width: 1280px;
  margin: 0 auto;
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.banners{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}